@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #F8F8F8;
    font-family: 'Poppins', sans-serif;
}
section.chat__section {
    width: 800px;
    max-width: 90%;
    background: #fff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.brand {
    padding: 20px;
    background: #f1f1f1;
    display: flex;
    align-items: center;
    user-select: none;
}
.brand img{
    -webkit-user-drag: none;
}
.brand h1 {
    text-transform: capitalize;
    font-size: 20px;
    color: #444;
    margin-left: 10px;
    transform: translateY(-28%);
}
.message__area{
    height: 500px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 40px;
}
textarea {
    width: 100%;
    border: none;
    padding: 20px;
    font-size: 16px;
    outline: none;
    background: #FBFBFB;
    user-select:none;
}

.message {
    padding: 10px 20px; 
    border-radius: 4px; 
    margin-bottom: 40px;
    max-width: 300px;
    position: relative;
}
.incoming {
    background: #8F8BE8;
    color: #fff;  
}

.incoming:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 15px solid #8F8BE8;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    top: 0;
    left: -10px;
}

.outgoing {
    background: #e9eafd;
    color: #787986;
    margin-left: auto;
}

.outgoing:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 15px solid #e9eafd;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    bottom: 0;
    right: -10px;
}

.message h4 {
    position: absolute;
    font-weight: 400;
    top: -20px;
    left: 0;
    color: rgb(139, 139, 139);
    font-size: 12px;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #c1c4ee;
    border-radius: 10px;
}

textarea::-webkit-scrollbar-thumb {
    background:rgb(202, 202, 202);
}

#send-icon{
    position: absolute;
    transform: translate(-160%, 70%);
    cursor: pointer;
    user-select: none;
}
#send-icon:hover{
    transform: translate(-160%, 70%) rotate(45deg);
    transform-origin: 50%;
    transition: transform .1s ease-in-out;
}

.tagline{
    position:absolute;
    transform: translate(35%, 85%);
    color:grey;
}
.ico{
    display: inline;
    position:relative;
    transform: translate(200%);
}
.info-ico:hover{
    transform: scale(1.2);
    transition: transform .1s ease-in-out;
}

/* info tooltip */
.tooltip {
    margin-left:40px;
    position: relative;
    display: inline-block;
}

  /* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: rgb(77, 77, 77);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    margin-left:15px;
}

  /* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}